
@font-face{   
    font-family: 'Glyphicons Halflings';   
     src: url('../fonts/glyphicons-halflings-regular.eot');   
     src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
     url('../fonts/glyphicons-halflings-regular.woff') format('woff'),  
     url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
     url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
   }

.text-center{
  text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.top-carousel div{
  background: no-repeat center center fixed ; 
  background-position: center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#register-form-wrap{
  background-image: url("../img/bg-register-form.jpg");
  background-size:  cover;
  color: white;
}

  .opacity-class{
    width: 100%;
    background: black;
    opacity: 0.8;
  }
    #register-form{
      padding-top :40px;
      padding-bottom: 40px
    }

    #register-form input{
          box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
        color: white;
    }

    #register-form .glyphicon{
      color: white;
    }

    #register-form .input-group-addon{
      background: none;
    }
    
.donhang{
  margin-top: 80px;
  margin-bottom: 80px;
}
  .donhang .donhang-group{
    margin-top:40px;
  }